<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appconfig" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appconfig configSource="App2.config" />
  <appSettings>
    <add key="platno" value="1" />
    <add key="platname" value="平台1青苹果入款机器人GPK" />
    <!--<add key="QPG" value="jiqiren@sands123|qwe123aa|https://api.qapple.io/"/>-->
    <add key="QPG" value="xpj333@xpj111|qwe123q|https://b.gac.top/"/>
    <add key="GPK" value="ksqpg|123456|http://lou.xdxoo.com/"/>
    <add key="MaxValue" value="9999" />
    <add key="Interval" value="10" />
    <add key="Hours" value="4" />
    <!--距离现在多长时间，停掉后在启动设置长一些，一直开着设置为1-->
    <add key="deposit_status" value="3" />
    <!--未处理的订单状态 0全部-->


  </appSettings>
</configuration>
