<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--账户信息-->
    <add key="GPK" value="ceshi|123456|http://bh.bs004.gpk135.com/" />
    <add key="MySqlConnect" value="Server=localhost;user id=root;password=root;Database=fikcdn;Port=3308;charset=utf8;|0|0"/>
    <add key="group" value="2"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
