<?xml version="1.0" encoding="utf-8" ?>
<appconfig>
      <add key="platno" value="1" />  
    <add key="platname" value="平台1A2XPJ优惠机器人处理程序" />
    <add key="BB" value="djqr112|qaz9987q|https://ag.ubcstech.com/"/>
    <add key="GPK" value="ceshi|123456|http://sts.tjuim.com/"/>    
    <add key="MySqlConnect" value="Server=27.50.49.16;user id=	activity;password=E76SCdh6tpjtMPW3;Database=activity;Port=3306;"/>
    <add key="sql_give_upadte" value=  "update Give set Content='{0}',`Status`={1},passtime=now(),HandleMan='robot' where id={2};"/>
    <add key="sql_give_select" value=  "select * from give where Account='{0}' and ActivityId={1} and `Status`=1;"/>  
    <!--<add key="MySqlConnect2" value="Server=27.50.48.100;user id=3730yhxin;password=K8L8FfH2hc;Database=3730yhxin;Port=3306;"/>  
    <add key="sql_e_submissions_select" value=  "SELECT * FROM e_submissions where username='{0}'  and aid={1} and status=1; "/>-->    
    <add key="清除N天前日志" value="7" />  <!--0表示不清除-->
    <add key="定时登陆账号" value="1" />  <!--0关 1开-->  
    <!--此会员级别不享受活动-->
    <add key="FiliterGroups" value="11|14|17|26|21|33|30|22"/>
    <!--游戏类别配置 0视讯 1体育 2彩票 3机率 4 棋牌 5捕鱼-->
  <!--活动前缀无重复 需要跟下面一致-->
     <!--<add key="prefix" value="zshb|mycj|qpcg|bycg|fb|yzcg"/>--> 
  
    <!--周岁红包配置-->
  <add key="zshb开关" value="0"/>  
  <add key="zshb间隔秒" value="7"/>    
  <add key="zshb活动编号" value="50"/>   
  <add key="zshb活动名称" value="VIP专享 周岁红包"/>     
  <add key="zshb总存款" value="50000"/>
  <add key="zshb有效投注" value="200000"/>  
  <add key="zshb赠送金额" value="588"/>    
  <add key="zshbj游戏类别" value="3,4"/>
  
    <!--满月彩金配置-->
  <add key="mycj开关" value="0"/>  
  <add key="mycj间隔秒" value="8"/>    
  <add key="mycj活动编号" value="51"/>   
  <add key="mycj活动名称" value="VIP专享 满月彩金"/>     
  <add key="mycj总存款" value="1000"/>
  <add key="mycj有效投注" value="20000"/>  
  <add key="mycj赠送金额" value="88"/>    
  <add key="mycj游戏类别" value="3,4"/>
  
    <!--棋牌闯关配置-->
  <add key="qpcg开关" value="0"/>  
  <add key="qpcg间隔秒" value="4"/>    
  <add key="qpcg活动编号" value="56"/>   
  <add key="qpcg活动名称" value="棋牌闯关"/>     
  <add key="qpcg有效投注" value="20000000|10000000|6000000|3000000|1000000|500000|300000|100000|30000|10000|5000|2000"/>  
  <add key="qpcg赠送金额" value="13000|7000|4000|2000|830|600|300|130|50|20|13|5"/>    
  <add key="qpcg累计赠送金额" value="27948|14948|7948|3948|1948|1118|518|218|88|38|18|5"/>      
  <add key="qpcg游戏类别" value="4"/>   
  
    <!--捕鱼闯关配置-->
  <add key="bycg开关" value="0"/>  
  <add key="bycg间隔秒" value="5"/>    
  <add key="bycg活动编号" value="49"/>   
  <add key="bycg活动名称" value="捕鱼闯关"/>     
  <add key="bycg有效投注" value="20000000|10000000|6000000|3000000|1000000|500000|300000|100000|30000|10000|5000|2000"/>  
  <add key="bycg赠送金额" value="13000|7000|4000|2000|830|600|300|130|50|20|13|5"/>    
  <add key="bycg累计赠送金额" value="27948|14948|7948|3948|1948|1118|518|218|88|38|18|5"/>      
  <add key="bycg游戏类别" value="5"/>   

    <!--首次投注配置-->
  <add key="fb开关" value="0"/>  
  <add key="fb间隔秒" value="6"/>    
  <add key="fb活动编号" value="61"/>   
  <add key="fb活动名称" value="首次投注"/>     
  <add key="fb有效投注" value="5000000|1000000|500000|100000|10000|5000|1000|500|100"/>  
  <add key="fb赠送金额" value="3888|1888|888|366|56|36|16|8|3"/>    
  <add key="fb游戏类别" value="3,5"/>   
  
    <!--大闯关配置-->
  <add key="dcg开关" value="1"/>  
  <add key="dcg间隔秒" value="6"/>    
  <add key="dcg活动编号" value="63"/>   
  <add key="dcg活动名称" value="七日大闯关"/>     
  <add key="dcg有效存款1" value="100"/>  
  <add key="dcg有效投注1" value="4888"/>    
  <add key="dcg赠送金额1" value="78|68|58|48|38|28|18|8"/>    
  <add key="dcg有效存款2" value="1000"/>      
  <add key="dcg有效投注2" value="18888"/>    
  <add key="dcg赠送金额2" value="258|178|128|88|78|58|38|28"/>        
  <add key="dcg游戏类别" value="3,5"/>   

</appconfig>