<?xml version="1.0" encoding="utf-8" ?>
<appconfig>
  <add key="platno" value="2" />
  <add key="platname" value="平台JS优惠机器人" />
  <!--<add key="BB" value="ddyhjqr|asd123aa|https://ag.xnwul.com/"/>-->
  <add key="GPK" value="yhjqr2|123456|http://lou.xdxoo.com/"/>
  <add key="MySqlConnect" value="Server=103.206.122.97;user id=	activity;password=fesaiLmkphEZrfFd;Database=activity;Port=3306;"/>
  <add key="sql_give_upadte" value=  "update Give set Content='{0}',`Status`={1},passtime=now(),HandleMan='robot' where id={2};"/>

  <!--<add key="MySqlConnect2" value="Server=27.50.49.239;user id=	sandsyh_com_zip;password=ZFy2WAjxMP;Database=sandsyh_com_zip;Port=3306;"/>
  <add key="sql_e_submissions_select" value=  "SELECT * FROM e_submissions where username='{0}'  and aid={1} and status=1; "/>-->
  
  <add key="清除N天前日志" value="7" />
  <!--0表示不清除-->
  <add key="定时登陆账号" value="1" />
  <!--0关 1开-->
  <!--此会员级别不享受活动-->
  <add key="FiliterGroups" value="5|6|12|13|18|19|20|24"/>

  <!--周岁红包配置-->
  <add key="zshb开关" value="1"/>
  <add key="zshb间隔秒" value="5"/>
  <add key="zshb活动编号" value="69"/>
  <add key="zshb活动名称" value="VIP专享周岁红包"/>
  <add key="zshb总存款" value="50000"/>
  <add key="zshb有效投注" value="200000"/>
  <add key="zshb赠送金额" value="588"/>

  <!--满月彩金配置-->
  <add key="mycj开关" value="1"/>
  <add key="mycj间隔秒" value="6"/>
  <add key="mycj活动编号" value="68"/>
  <add key="mycj活动名称" value="VIP专享满月彩金"/>
  <add key="mycj总存款" value="1000"/>
  <add key="mycj有效投注" value="20000"/>
  <add key="mycj赠送金额" value="88"/>
  <!--周岁红包配置-->

  <!--棋牌闯关配置-->
  <add key="qpcg开关" value="1"/>
  <add key="qpcg间隔秒" value="6"/>
  <add key="qpcg活动编号" value="75"/>
  <add key="qpcg活动名称" value="棋牌闯关"/>
  <add key="qpcg有效投注" value="10000000|8000000|5000000|3000000|1000000|5000000|3000000|1000000|300000|100000|5000|2061"/>
  <add key="qpcg赠送金额" value="18888|11888|5888|2888|888|588|288|188|61|20|12|5"/>
  <add key="qpcg累计赠送金额" value="41602|22714|10826|4938|2050|1162|574|286|98|37|17|5"/>

  <!--捕鱼闯关配置-->
  <add key="bycg开关" value="1"/>
  <add key="bycg间隔秒" value="5"/>
  <add key="bycg活动编号" value="79"/>
  <add key="bycg活动名称" value="捕鱼闯关"/>
  <add key="bycg有效投注" value="10000000|8000000|5000000|3000000|1000000|5000000|3000000|1000000|300000|100000|5000|2061"/>
  <add key="bycg赠送金额" value="18888|11888|5888|2888|888|588|288|188|61|20|12|5"/>
  <add key="bycg累计赠送金额" value="41602|22714|10826|4938|2050|1162|574|286|98|37|17|5"/>
  <add key="bycg游戏类别" value="5"/>

  
  
</appconfig>