<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="platno" value="1" />
    <add key="platname" value="平台1A2笔笔存送3%" />
    <add key="GPK" value="ceshi2|123456|http://sts.tjuim.com/"/>
    <add key="rate" value="0.03"/>
    <add key="pkey" value="7DB43437FCD2B7"/>
    <add key="ip" value="http://192.168.1.166:999/"/>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>