<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appconfig" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appconfig>
    <add key="platno" value="1" />
    <add key="platname" value="支付验证" />
    <add key="pkey" value="privateKey.key"/>
    <add key="ip" value="http://192.168.137.1:1000/"/>
    <add key="whitelist" value="192.168.137.1|39.104.184.158"/>    
    <add key="MySqlConnect" value="Server=27.50.48.100;user id=ordervalidation;password=mpNJf466BWYM4bRZ;Database=ordervalidation;Port=3306;charset=utf8;"/>
    <add key="sql_insert" value="REPLACE into orderinfo VALUES('{0}',{1});"/>
    <add key="sql_exsist" value="select * from orderinfo where orderno='{0}';"/>    
    <!--小时-->
  </appconfig>
</configuration>