<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--GPK后台 账户配置，格式：账户|密码|网址(https://xxx/)-->
    <add key="GPK" value="ceshi|123456|http://bh.bs004.gpk135.com/"/>

  </appSettings>
  <!--解决协议冲突.Section=ResponseHeader Detail=CR 后面必须是LF-->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>