<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="GPK" value="ceshi|123456|http://bh.bs004.gpk135.com/"/>
    <add key="BBOPT" value="miandan|qwe123qwe|https://tst168.jc5011.com/"/>
    <add key="TELBOTTOKEN" value="908166389:AAFaaIX0-QT4E3xRb5Irbewt5nG3adv1t2A"/>
  </appSettings>
</configuration>
