<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appconfig" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appconfig>
    <add key="platno" value="1" />
    <add key="platname" value="平台1A2自动清除积分记录" />
    <add key="connectString" value="Server=27.50.48.100;user id=20190415xpj-app;password=SBEIzno9oxyNzJhg;Database=20190415xpj-app-api;Port=3306;charset=utf8;"/>
    <add key="sql" value="update qd_user set bonus=0,qd_days=0  where qd_days>0"/>
    <add key="Interval" value="12"/><!--小时-->
  </appconfig>
</configuration>