<?xml version="1.0" encoding="utf-8" ?>
<appconfig>
  <add key="platno" value="1" />
  <add key="platname" value="平台1A1" />
  <add key="GPK" value="gpkhb|123456|http://lou.xdxoo.com/"/>
  <!--级别对应的赠送区间-->
  <add key="1" value="0.04@0.08"/>
  <add key="2" value="0.5@8"/>
  <add key="3" value="0.5@15"/>
  <add key="4" value="3.8@40"/>
  <add key="5" value="4.8@60"/>
  <add key="6" value="5.8@80"/>
  <add key="7" value="8@188"/>
  <add key="8" value="20@200"/>
  <add key="9" value="60@588"/>
  <add key="10" value="158@888"/>
  <!--开始时间-->
  <add key="StartTime1" value=" 02:00:00"/>
  <add key="StartTime2" value=" 08:00:00"/>
  <add key="StartTime3" value=" 14:00:00"/>
  <add key="StartTime4" value=" 20:00:00"/>
  <!--结束时间-->
  <add key="EndTime1" value=" 07:59:59"/>
  <add key="EndTime2" value=" 13:59:59"/>
  <add key="EndTime3" value=" 19:59:59"/>
  <add key="EndTime4" value=" 01:59:59"/>
</appconfig>