<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="appconfig" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appconfig configSource="A2.config"/>
  <appSettings>
    <add key="test" value="test"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
