<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appconfig" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appconfig>
    <add key="platno" value="4" />
    <add key="platname" value="熊猫彩金活动" />
    <!--<add key="pkey" value="privateKey.key"/>
    <add key="ip" value="http://192.168.137.1:1000/"/>
    <add key="whitelist" value="192.168.137.1|39.104.184.158"/>-->
    <add key="BET" value="robot1|qwe123qwe|http://jsgbhadmin.com:1788/"/>
    <add key="MySqlConnect" value="Server=45.117.192.82;user id=	activity;password=4LeESAhyx78b72L5;Database=activity;Port=3306;Allow User Variables=True;"/>
    <add key="sql_give_upadte" value=  "update Give set Content='{0}',`Status`={1},passtime=now(),HandleMan='robot' where id={2};"/>
    <add key="sql_give_select" value=  "select * from give where Account='{0}' and ActivityId={1} and `Status`=1;"/>
    <add key="sql_give_count" value=  "select count(id)  from give where Account='{0}' and ActivityId={1} ;"/>    
    <add key="sql_give_select_time" value=  "select addtime from give where Account='{0}' and ActivityId={1} and `Status`=1 ORDER BY id desc LIMIT 1;"/>
    <add key="sql_give_select_date" value=  "select * from give where Account='{0}' and ActivityId={1} and `Status`=1 and AddTime>'{2}' and AddTime&lt; '{3}';"/>
    <!--小时-->
    <add key="清除N天前日志" value="7" />
    <!--0表示不清除-->
    <!--此会员级别不享受活动-->
    <!--<add key="FiliterGroups" value="11|14|17|26|21|33|30|22"/>-->
    <!--体验金配置-->
    <add key="zccj开关" value="1"/>
    <add key="zccj间隔秒" value="7"/>
    <add key="zccj活动编号" value="1"/>
    <add key="zccj活动名称" value="体验金"/>
    <add key="zccj总存款" value="0"/>
    <add key="zccj有效投注" value="0"/>
    <add key="zccj赠送金额" value="19"/>
    <add key="zccj同IP最多几个" value="2"/>    
    <add key="zccj需求打码倍数" value="0"/>     
    <add key="zccj打码包含余额" value="0"/>         
    <add key="zccj拉到层级编号" value="2"/>       
    <add key="zccj拒绝率" value="10"/>       
    <add key="zccj允许登陆设备" value="2|3"/>       <!--登陆设备  1pc 2ios 3安卓 4h5 其他5-->
  </appconfig>
</configuration>