<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ACT" value="RXYWS|123456|https://3730yh.com/8943h4812iun4i32.php/" />
    <!--活动列表 账户配置，格式：账户|密码|网址(https://xxx/)-->
    <add key="BB" value="dxyws|qweasd123|https://ag.ubcstech.com/" />
    <!--BB后台 账户配置，格式：账户|密码|网址(https://xxx/)-->
    <add key="GPK" value="RXYWS|123456|http://bh.bs004.gpk135.com/" />
    <!--GPK后台 账户配置，格式：账户|密码|网址(https://xxx/)-->
    <add key="RollTimes" value="7@10@5|10@15@10|15@20@20|20@99999@50" />
    <!--旋转次数配置，格式：注单尾数@倍数@上限|-->
     <add key="LuckNum" value="3@1@88|33@2@188|333@8@555|3333@12@888|33333@25@1888|333333@50@5888|3333333@200@18888|33333333@888@88888" />
    <!--旋转次数配置，格式：注单尾数@倍数@上限|-->   
    <add key="Interval" value="5" />
    <!--处理注单时间间隔，单位 秒-->

    <!--此会员级别不享受活动-->
    <add key="FiliterGroups" value="5|6|12|13|18|20|24"/>
    <add key="aid1" value="35" />
    <add key="aid2" value="50" />    
    <add key="aname1" value="消除奖" />
    <add key="aname2" value="幸运尾数" />       
    <!--游戏名称-->
    <add key="gameName" value="糖果派对|糖果派对2|连环夺宝|连环夺宝2" />
    <add key="gameName2" value="连环夺宝|金刚爬楼|战火佳人|凯萨帝国|金莲|糖果派对|猴子爬树|夜市人生|奇幻花园|金矿工|糖果派对2|中秋月光派对|爱你一万年|浪人武士|老船长|开心消消乐|Staronic|阿基里斯|航海时代|霸王龙|喜福猴年|外星战记|阿兹特克宝藏|发大财|高球之旅|喜福牛年|海豚世界|凯萨帝国|恶龙传说|高速卡车|沉默武士|龙在囧途|明星97|七剑传说|大红帽与小野狼|狂欢夜|酷搜马戏团|疯狂水果盘|封神榜|金鸡报喜|功夫龙|超级7|特务危机|尸乐园|龙卷风|金瓶梅|金瓶梅2|秘境冒险" />    
    <!--活动编号-->
  </appSettings>
  <!--解决协议冲突.Section=ResponseHeader Detail=CR 后面必须是LF-->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>