<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--平台信息-->
    <add key="platname" value="APP平台 快速充值" />
    <!--处理注单时间间隔，单位 秒-->
    <add key="Interval" value="10" />
    <!--账户信息-->
    <add key="GPK" value="ceshi|123456|http://bh.bs004.gpk135.com/" />
    <!--自动清除N天前的数据、日志开关 N|1开0关-->
    <add key="AutoCls" value="6|1" />
    <add key="aname" value="APP签到好礼@0|快速充值@0|红包@1" />
    <!--<add key="dbpath" value="40bb7c99d855.db" />-->
    <!--<add key="MySqlConnect" value="Server=27.50.48.100;user id=3730app;password=yDS6mTSd5h;Database=3730app;Port=3306;charset=utf8;" />-->
    <!--<add key="MySqlConnect" value="Server=27.50.48.100;user id=3730app;password=yDS6mTSd5h;Database=3730app;Port=3306;charset=utf8;|Server=27.50.48.100;user id=www_3730777_com;password=hcD3sYmHXj;Database=www_3730777_com;Port=3306;charset=utf8;" />-->
    <add key="MySqlConnect" value="Server=27.50.49.239;user id=js81app;password=D3kGbCSahz;Database=js81app;Port=3306;charset=utf8;|Server=27.50.49.239;user id=sql4439zf_com;password=PSKACENEDZ;Database=sql4439zf_com;Port=3306;charset=utf8;|Server=27.50.49.239;user id=sql4439hb_com;password=ZYE56XyYaM;Database=sql4439hb_com;Port=3306;charset=utf8;" />
    <add key="Act4Stander" value="100@10|200@20|300@30|400@40|500@50" />
    <add key="UserInfo" value="JSL7F|BEA428A3AC05FBC6EF765B5D5194A7EF" />
    <add key="Rate" value="0.005" />    
  </appSettings>
  <!--解决协议冲突.Section=ResponseHeader Detail=CR 后面必须是LF-->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
