<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--平台信息-->
    <add key="platname" value="3号平台" />
    <!--处理注单时间间隔，单位 秒-->
    <add key="Interval" value="10|10|10" />
    <!--账户信息-->
    <add key="GPK" value="ceshi|123456|http://bh.bs004.gpk135.com/" />
    <!--3号平台的账户-->
    <!--<add key="GPK" value="jiqiren|888888|http://kaq.hpnzl.com/" />-->    
    <!--自动清除N天前的数据、日志开关 N|1开0关-->
    <add key="AutoCls" value="6|1|0" />
    <add key="aname" value="APP签到好礼@0|快速充值@0|红包@1" />
    <!--<add key="dbpath" value="40bb7c99d855.db" />-->
    <!--<add key="FiliterGroups" value="11|14|17|26|21|33|30|22"/>-->
    <add key="FiliterGroups" value="-1"/>
    <add key="MySqlConnect" value="Server=27.50.48.100;user id=3730app;password=yDS6mTSd5h;Database=3730app;Port=3306;charset=utf8;|Server=27.50.48.100;user id=www_3730777_com;password=hcD3sYmHXj;Database=www_3730777_com;Port=3306;charset=utf8;|Server=27.50.48.100;user id=3730hb;password=qweasdzxc123;Database=3730hb;Port=3306;charset=utf8;" />
    <!--<add key="MySqlConnect" value="Server=27.50.48.100;user id=3730app;password=yDS6mTSd5h;Database=3730app;Port=3306;charset=utf8;" />-->
    <!--<add key="MySqlConnect" value="Server=27.50.48.100;user id=3730app;password=yDS6mTSd5h;Database=3730app;Port=3306;charset=utf8;|Server=27.50.48.100;user id=www_3730777_com;password=hcD3sYmHXj;Database=www_3730777_com;Port=3306;charset=utf8;" />-->
    <!--<add key="MySqlConnect" value="Server=27.50.49.239;user id=js81app;password=D3kGbCSahz;Database=js81app;Port=3306;charset=utf8;|Server=27.50.49.239;user id=sql4439zf_com;password=PSKACENEDZ;Database=sql4439zf_com;Port=3306;charset=utf8;|Server=27.50.49.239;user id=sql4439hb_com;password=ZYE56XyYaM;Database=sql4439hb_com;Port=3306;charset=utf8;" />-->
    <!--3号平台红包、快速入款-->
    <!--<add key="MySqlConnect" value="?|Server=45.118.250.123;user id=pay1253_com;password=R3Psdj5f48;Database=pay1253_com;Port=3306;charset=utf8;|Server=45.118.250.123;user id=	1253yh;password=1253yh;Database=hby7;Port=3306;charset=utf8;"/>-->
    <add key="Act4Stander" value="100@10|200@20|300@30|400@40|500@50" />
    <add key="UserInfo" value="JSL7F|BEA428A3AC05FBC6EF765B5D5194A7EF" />
    <add key="Rate" value="0.005" />    
        <add key="uid" value="6" />
    <!--APP签到活动sql-->
    
    <!--快速充值活动sql-->
    
    
    <!--红包活动sql-->
    <!--葡京组-->
    <add key="sql_cz_select" value="SELECT id,username,money FROM hr_records  WHERE is_send ='0'   ORDER BY id  LIMIT 20;"/>
    <add key="sql_cz_upadte" value="update `hr_records` set `is_send`='1',addtime =now() where id in({0});"/>    
    <!--金沙组-->
    <!--<add key="sql_cz_select" value="SELECT id,vipname,price FROM e_gerenjilu  WHERE status =1  ORDER BY id  LIMIT 50;"/>
    <add key="sql_cz_upadte" value="update `e_gerenjilu` set `status`=2,addtime =unix_timestamp(now()) where id in({0});"/>-->      
    <!--3组-->
    <!--<add key="sql_cz_select" value="SELECT id,username,money FROM hr_records  WHERE is_send ='0'   ORDER BY id  LIMIT 50;"/>
    <add key="sql_cz_upadte" value="update `hr_records` set `is_send`='1',addtime =date_add(now(), interval 12 hour) where id in({0});"/>-->          
    
  </appSettings>
  <!--解决协议冲突.Section=ResponseHeader Detail=CR 后面必须是LF-->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
