<?xml version="1.0" encoding="utf-8"?>
<appconfig>
  <!--平台信息-->
  <add key="platno" value="1" />
  <add key="platname" value="新葡京" />
  <!--处理注单时间间隔，单位 秒-->
  <add key="Interval" value="10|10|5|5" />
  <!--账户信息-->
  <add key="GPK" value="ceshi|123456|http://sts.tjuim.com/"/>
  <add key="AutoCls" value="6|1|0" />
  <add key="aname" value="APP签到好礼@0|快速充值@0|红包@0|新红包@1" />
  <add key="FiliterGroups" value="-1"/>
  <add key="MySqlConnect" value="Server=27.50.48.100;user id=20190415xpj-app;password=SBEIzno9oxyNzJhg;Database=20190415xpj-app-api;Port=3306;charset=utf8;|Server=27.50.48.100;user id=www_3730777_com;password=hcD3sYmHXj;Database=www_3730777_com;Port=3306;charset=utf8;|Server=27.50.48.100;user id=3730hb;password=qweasdzxc123;Database=3730hb;Port=3306;charset=utf8;" />
  <add key="Act4Stander" value="100@10|200@20|300@30|400@40|500@50" />
  <add key="UserInfo" value="JSL7F|BEA428A3AC05FBC6EF765B5D5194A7EF" />
  <add key="Rate" value="0.005" />
  <add key="uid" value="31" />
  <!--APP签到活动sql-->
  <add key="sql_qd_select" value="select a.id,b.username,a.amount from qd_bonus_record a LEFT JOIN qd_user b on a.user_id = b.id where a.type=2 and a.distribute_status=0 ORDER BY id LIMIT 10;"/>
  <add key="sql_qd_upadte_succeed" value="update qd_bonus_record set distribute_status= 1 where id= {0};"/>  
  <add key="sql_qd_upadte_failure" value="delete from qd_bonus_record where id= {0};"/>    
  <!--<add key="sql_qd_upadte_failure" value="update qd_bonus_record set distribute_status = 2 where id = {0};"/>-->      
  
  <!--快速充值活动sql-->
  <add key="sql_cz_select" value="SELECT a.`id`, `order_no`,`username`,`order_amount`,title,addtime FROM `e_order` a left join e_bank b on a.bid=b.id WHERE a.`status`=2  ORDER BY id DESC LIMIT 20;"/>
  <add key="sql_cz_upadte" value="update e_order set `status`={2} , uid='{0}',handletime =unix_timestamp(now()) where id={1};"/>

  <!--红包活动sql-->
  <add key="sql_hb_select" value="SELECT id,username,money FROM hr_records  WHERE is_send ='0'   ORDER BY id  LIMIT 10;"/>
  <add key="sql_hb_upadte" value="update hr_records set is_send='1',addtime =now() where id in({0});"/>  
  
  <!--新红包活动-->
  <add key="hb_constr" value="Server=27.50.48.100;user id=sql9486qhb_com;password=bCkdQtj8N2FzEnHx;Database=sql9486qhb_com;Port=3306;charset=utf8;"/>
  <add key="hb_select" value="select id,CONVERT(username,char(100)) username,amount,createtime from fa_hb_records where status='0' ORDER BY id desc LIMIT 10;"/>  
  <add key="hb_update" value="update fa_hb_records set status='1',updatetime= unix_timestamp(now()) where id ={0}"/>    
  <!--葡京组-->

  <!--金沙组-->
  <!--<add key="sql_cz_select" value="SELECT id,vipname,price FROM e_gerenjilu  WHERE status =1  ORDER BY id  LIMIT 50;"/>
    <add key="sql_cz_upadte" value="update `e_gerenjilu` set `status`=2,addtime =unix_timestamp(now()) where id in({0});"/>-->
  <!--3组-->
  <!--<add key="sql_cz_select" value="SELECT id,username,money FROM hr_records  WHERE is_send ='0'   ORDER BY id  LIMIT 50;"/>
    <add key="sql_cz_upadte" value="update `hr_records` set `is_send`='1',addtime =date_add(now(), interval 12 hour) where id in({0});"/>-->
  <add key="KindCategories" value="3|5"/>
</appconfig>
