<?xml version="1.0" encoding="utf-8"?>
<appconfig>
  <!--平台信息-->
  <add key="platno" value="2" />
  <add key="platname" value="金莎" />
  <!--处理注单时间间隔，单位 秒-->
  <add key="Interval" value="10|10|10" />
  <!--账户信息-->
  <!--3号平台的账户-->
  <add key="GPK" value="hb_jqr|123456|http://kaq.hpnzl.com/" />
  <!--自动清除N天前的数据、日志开关 N|1开0关-->
  <add key="AutoCls" value="6|1|0" />
  <add key="aname" value="APP签到好礼@0|快速充值@0|红包@1" />
  <add key="FiliterGroups" value="-1"/>
  <add key="MySqlConnect" value="?|Server=45.118.250.123;user id=pay1253_com;password=R3Psdj5f48;Database=pay1253_com;Port=3306;charset=utf8;|Server=45.118.250.123;user id=1253yh;password=1253yh;Database=hby7;Port=3306;charset=utf8;"/>
  <add key="Act4Stander" value="100@10|200@20|300@30|400@40|500@50" />
  <add key="UserInfo" value="JSL7F|BEA428A3AC05FBC6EF765B5D5194A7EF" />
  <add key="Rate" value="0.005" />
  <add key="uid" value="6" />
  <add key="KindCategories" value="3|5"/>  
  <!--APP签到活动sql-->
  <add key="sql_qd_select" value="select a.id,b.username,a.amount from qd_bonus_record a LEFT JOIN qd_user b on a.user_id = b.id where a.type=2 and a.distribute_status=0 ORDER BY id LIMIT 10;"/>
  <add key="sql_qd_upadte_succeed" value="update qd_bonus_record set distribute_status= 1 where id= {0};"/>
  <add key="sql_qd_upadte_failure" value="delete from qd_bonus_record where id= {0};"/>
  <!--<add key="sql_qd_upadte_failure" value="update qd_bonus_record set distribute_status = 2 where id = {0};"/>-->
  <!--快速充值活动sql-->
  <add key="sql_cz_select" value="SELECT id,vipname,price FROM e_gerenjilu  WHERE status =1  ORDER BY id  LIMIT 50;"/>
  <add key="sql_cz_upadte" value="update `e_gerenjilu` set `status`=2,addtime =unix_timestamp(now()) where id in({0});"/>
  <!--红包活动sql-->
  <add key="sql_hb_select" value="SELECT id,username,money FROM hr_records  WHERE is_send ='0'   ORDER BY id  LIMIT 50;"/>
  <add key="sql_hb_upadte" value="update `hr_records` set `is_send`='1',addtime =date_add(now(), interval 12 hour) where id in({0});"/>

</appconfig>
