<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--测试-->
     
    <!--<add key="platno" value="1" />
    <add key="platname" value="平台1青苹果入款机器人" />
    <add key="ACT" value="rk1@xpj111|123456|https://api.qapple.io/v2/api/merchant/merchantcenter/"/>
    <add key="GPK" value="ceshi|123456|http://sts.tjuim.com/"/>    
    <add key="TG" value="jqr|zse132|http://line.dalubet365.com/"/>        
    <add key="MaxValue" value="50000" />    
    <add key="Interval" value="10" />-->             
    
    <!--<add key="platno" value="1" />
    <add key="platname" value="平台1青苹果入款机器人" />
    <add key="ACT" value="JQR@xpj111|123456|https://api.qapple.io/v2/api/merchant/merchantcenter/"/>
    <add key="GPK" value="KSJQR|123456|http://sts.tjuim.com/"/>    
    <add key="MaxValue" value="50000" />-->



    <add key="platno" value="2" />
    <add key="platname" value="金莎青苹果入款机器人" />
    <add key="QPG" value="jiqiren@sands123|qwe123aa|https://api.qapple.io/"/>
    <add key="GPK" value="ksqpg|123456|http://lou.xdxoo.com/"/>
    <add key="MaxValue" value="9999" />
    <add key="Interval" value="10" />



  </appSettings>
</configuration>
