<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>

    <add key="platno" value="3" />
    <add key="platname" value="平台3青苹果入款机器人BET" />
    <add key="QPG" value="xmjqr@xiongmao|qwe123qwe|https://b.gac.top/"/>
    <add key="BET" value="robot2|qwe123qwe|http://jsgbhadmin.com:1788/"/>

    <add key="MaxValue" value="19999" />
    <add key="Hours" value="4" />
    <!--距离现在多长时间，停掉后在启动设置长一些，一直开着设置为1-->
    <add key="deposit_status" value="3" />
    <!--未处理的订单状态 0全部-->
    <add key="rate" value="0.015" />
  </appSettings>
</configuration>
