<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="appconfig" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appconfig>

    <add key="MySqlConnect2" value="63FEC3DF26DB1105078C8302C3816DA62149172F11AC9765A9D0B1BDD093F5173F59065472F854BBCC6F782EA757C163F2FB3553AE056C9C5F341DE0365A8C1C54AABBAD1E78AE8E352EA34EE6511A49406278061ADBA365"/>

    <add key="MySqlConnect" value="Server=27.50.49.16;user id=	activity;password=E76SCdh6tpjtMPW3;Database=activity;Port=3306;"/>    
    <!--<add key="MySqlConnect" value="Server=27.50.48.100;user id=3730yhxin;password=K8L8FfH2hc;Database=3730yhxin;Port=3306;charset=utf8;|Server=27.50.48.100;user id=www_3730777_com;password=hcD3sYmHXj;Database=www_3730777_com;Port=3306;charset=utf8;|Server=27.50.48.100;user id=3730hb;password=qweasdzxc123;Database=3730hb;Port=3306;charset=utf8;" />-->
    <!--<add key="dbpath" value="data.db"/>-->
    <add key="dbpath" value="data.db"/>    
    <add key="GPK" value="ceshi|123456|http://sts.tjuim.com/"/>
    <add key="Interval" value="10|50|50"/>
    <add key="nums" value="10000|200|2000"/>    
  </appconfig>
</configuration>