<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MySqlConnect" value="Server=27.50.49.16;user id=	activity;password=E76SCdh6tpjtMPW3;Database=activity;Port=3306;|?|?"/>
    <!--<add key="MySqlConnect" value="Server=27.50.48.100;user id=3730yhxin;password=K8L8FfH2hc;Database=3730yhxin;Port=3306;charset=utf8;|Server=27.50.48.100;user id=www_3730777_com;password=hcD3sYmHXj;Database=www_3730777_com;Port=3306;charset=utf8;|Server=27.50.48.100;user id=3730hb;password=qweasdzxc123;Database=3730hb;Port=3306;charset=utf8;" />-->
    <add key="dbpath" value="data.db"/>
    <add key="GPK" value="ceshi|123456|http://sts.tjuim.com/" />
  </appSettings>
</configuration>