<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appconfig" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appconfig>
    <add key="platno" value="1" />
    <add key="platname" value="平台1A2" />
    <!--<add key="BW1" value="k7tamg|$f`?XpyTD6zE24L=x.vkiqAPU-gh:u|https://bkk.e9xz3mq8.xyz:43325"/>-->        
    <add key="BW1" value="k7tamg|$f`?XpyTD6zE24L=x.vkiqAPU-gh:u|https://bkk.e9xz3mq8.xyz:43325/"/>            
    <!--<add key="BW2" value="hongyunceshi|Hongyunceshi-8899|https://bkk.e9xz3mq8.xyz:43325/"/>-->    
    <add key="BW2" value="jishu|Jishu-8899|https://bkk.e9xz3mq8.xyz:43325/"/>        
    <add key="PHPSESSID" value="2b43e4f97ae514219e52262ad73809ce"/>        
  </appconfig>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <!--<appSettings>

  </appSettings>-->
</configuration>