<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--平台信息-->
    <add key="platname" value="入款机器人" />
    <!--处理注单时间间隔，单位 秒-->
    <add key="Interval" value="3" />
    <!--账户信息-->
    <add key="GPK" value="ceshi|123456|http://sts.tjuim.com/"/>
    <add key="WSB" value="lin17767@163.com|123456|https://wwww.mqshoes.com/member.php/|0ffa699f3137ee48b6e969555f63479a"/>
    <!--自动清除N天前的数据、日志开关 N|1开0关-->
    <add key="AutoCls" value="6|1" />
    <add key="aname" value="入款充值" />    

  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="server=47.101.138.0;database=submitions;uid=sub;pwd=sub;"/>
  </connectionStrings>
  <!--解决协议冲突.Section=ResponseHeader Detail=CR 后面必须是LF-->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>