<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--平台信息-->
    <add key="platname" value="红包赠送机器人" />
    <!--处理注单时间间隔，单位 秒-->
    <add key="Interval" value="3" />
    <!--账户信息-->
    <add key="RedEnvelope" value="HBZD|123456|https://3730hb.com/index.php/admin/"/>
    <add key="GPK" value="HBZD|123456|http://bh.bs004.gpk135.com/"/>
    <!--自动清除N天前的数据、日志开关 N|1开0关-->
    <add key="AutoCls" value="6|1" />
    <add key="aname" value="红包赠送活动" />    
    <add key="dbpath" value="40bb7c99d855.db" />    
    
  </appSettings>
  <!--解决协议冲突.Section=ResponseHeader Detail=CR 后面必须是LF-->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>