<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--测试-->
     
    <!--<add key="platno" value="1" />
    <add key="platname" value="平台1青苹果入款机器人" />
    <add key="QPG" value="rk1@xpj111|123456|https://api.qapple.io/v2/api/merchant/merchantcenter/"/>
    <add key="GPK" value="ceshi|123456|http://sts.tjuim.com/"/>    
    <add key="TG" value="jqr|zse132|http://line.dalubet365.com/"/>        
    <add key="MaxValue" value="50000" />-->    
        
    
    
    <!--<add key="platno" value="1" />
    <add key="platname" value="平台1青苹果入款机器人" />
    <add key="ACT" value="JQR@xpj111|123456|https://api.qapple.io/v2/api/merchant/merchantcenter/"/>
    <add key="GPK" value="KSJQR|123456|http://sts.tjuim.com/"/>    
    <add key="MaxValue" value="50000" />-->    
    
    
    <!--<add key="platno" value="2" />
    <add key="platname" value="金莎青苹果入款机器人" />
    <add key="ACT" value="jiqiren@sands123|01c00406bffcf5e23b321ba1a21b471a|https://api.qapple.io/v2/api/merchant/merchantcenter/"/>
    <add key="GPK" value="ksqpg|123456|http://lou.qbdvc.com/"/>        
    <add key="MaxValue" value="9999" />-->

    <add key="platno" value="3" />
    <add key="platname" value="平台3青苹果入款机器人TG" />
    <add key="QPG" value="JQR@qd13223|bet36588|https://api.qapple.io/v2/api/merchant/merchantcenter/"/>
    <add key="TG" value="jqr|zse132|http://line.dalubet365.com/"/>
    <add key="MaxValue" value="19999" />

  </appSettings>
</configuration>
